<body style="background-color:LightSlateGray;">
 <h1>This is the official website for the <%= node["event"]["name"] %> <%= node["event"]["type"] %></h1>
 	<h2>Happening in <%= node["event"]["when"] %></h2>
		<img border="0" src="http://i1.ytimg.com/vi/B7UmUX68KtE/maxresdefault.jpg" alt="Chef" width="304" height="228">

	<h3><a href="event.html">Counterfeit #ChefConf Website</a></h3>
</body>
